.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border: 1px solid var(--color-primary);
    border-width: 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 0.4rem;
    background-color: var(--color-bg-variant);
    padding: 12px;
    /* padding-left: 16px; */
}

.skills-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.skills {
    width: 400px;
    /* padding-top: 16px; */
}

.skill {
    color: var(--color-white);
    background-color: var(--color-bg);
    font-size: 0.9rem;
    width: max-content;
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h3 {
    color: var(--color-primary);
}

.endorse-button {
    color: var(--color-primary-variant);
    align-self: center;
    font-size: 2rem;
}